/* Common Styles */
.body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
}

.menu:hover .menu-content {
  display: block;
}

.menu-button {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  cursor: pointer;
}

.menu-button span {
  background-color: #333;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 2px;
}

.menu-button:hover {
  background-color: #ddd;
}

/* Adjust the position and style of the dropdown content */
.menu-content {
  top: 40px;
  left: -90px;
  min-width: 120px;
}



.profile-picture {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.socials a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333333;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.socials a:hover {
  transform: translateY(-20px);
}

.socials img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.donate {
  background-color: powderblue;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.donate a {
  display: inline-block;
  padding: 10px 20px;
  background-color: navy;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.donate iframe {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  display: block;
}

.bio {
  background-color: black;
  color: #ffd700;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: justify;
  animation-name: blueblack;
  animation-duration: 60s;
}

@keyframes blueblack {
  0% {
    background-color: black;
  }
  25% {
    background-color: grey;
  }
  50% {
    background-color: black;
  }
  75% {
    background-color: grey;
  }
  100% {
    background-color: black;
  }
}

.bio p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.news {
  border: 0;
}

/* Adjustments for Mobile Screens */
@media (max-width: 768px) {
  .profile-picture {
    width: 150px;
    height: 150px;
  }

  .socials {
    flex-wrap: wrap;
    justify-content: center;
  }

  .socials a {
    margin: 10px;
  }

  .socials img {
    width: 60px;
    height: 60px;
  }

  .donate {
    margin: 10px;
    padding: 10px;
  }

  .donate a {
    padding: 8px 16px;
    font-size: 14px;
  }

  .bio {
    margin: 10px;
    padding: 10px;
  }

  .bio p {
    font-size: 16px;
  }
}
