/* Remove the .body selector and use body selector instead */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

/* Add styles for the toggle button icon */
#toggle-mode {
  font-size: 24px;
  cursor: pointer;
}


}

/* Add styles for the toggle button icon in dark mode */
body.dark-mode #toggle-mode {
   cursor: pointer;
}





/* Define styles for light mode */
body {
  background-color: #f5f5f5;
  color: #333;
}

/* Define styles for dark mode */
body.dark-mode {
  background-color: black;  /*Previosuly #333*/
  color: #f5f5f5;
}

/* Add styles for other elements */
body.dark-mode .profile-picture {
  border-color: darkgrey;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

body.dark-mode .socials a {
  color: #f5f5f5;
}


body.dark-mode .socials img {

  border: 5px solid darkgrey;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  background-color: #333;
} 
  
body.dark-mode .donate {
  background-color: #444;
}

body.dark-mode .donate a {
  background-color: #666;
}

body.dark-mode .bio {
  background-color: #000;
  color: #ffd700;
}

body.dark-mode .news {
  border-color: #f5f5f5;
}
